/* Add a black background color to the top navigation */
body {
    background-color: #fff8e7;
}
h2 {
    align-self: center;
    display: flex;
	align-items: flex-end;
}

.topnav {
  background-color: #181818;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #FAFAFF;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav h2 {
    text-align: center;
    font-size: 23px;
    color: #ffffff;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FAFAFF;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #b4a200;
  color: #92828D;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(34, 34, 34);
  text-align: center;
  padding-bottom: 20px;
}

.cur-menu-label {
  grid-column-start: 3;
}

.prev-menu-label {
  grid-column-start: 3;
}

.main {
  display: flex;
  justify-content: center;
  
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline-style: solid;
  max-width: 800px;
}

.button-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.language-button {
  justify-self: center;
  padding: 5px;
  margin: 5px auto 5px;
}

.green-background {
  background-color: green;
  color: green
}
.add-language-button {
  justify-self: center;
  padding: 5px;
  margin: 5px auto 5px;
}
.menu-heading{
  justify-self: center;
}

.quiz {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  outline-style: solid;
}

.quiz-control-right {
  display: grid;
  grid-area: 1/4/6/6;
  outline-style: dashed;
}
.quiz-control-down {
  grid-area: 3/1/6/6;
  outline-style: dashed;
}
.quiz-control-left {
  grid-area: 1/1/3/6;
  outline-style: dashed;
}
.quiz-control-up {
  grid-area: 1/1/3/6;
  outline-style: dashed;
}
.show-button {
    grid-area: 1/4/6/6;
}

.grading-buttons-container{
  display: grid;
}

.card {
  display: grid;
  justify-self: stretch;
  align-self: stretch;
  outline-style: dotted;
}

.word {
  display: grid;
  justify-self: stretch;
  align-self: stretch;
}

.answer {
  display: grid;
  justify-self: stretch;
  align-self: stretch;
}

.mnemonic-image {
  display: grid;
  justify-self: stretch;
  align-self: stretch;
}


.flex-item {
  background: rgb(255, 244, 234);
  padding: 5px;
  width: 200px;
  height: 50px;
  margin-top: 10px;
  line-height: 50px;
  color: rgb(0, 37, 6);
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  align-items: center;
}

@keyframes unfold-old {
  0% {
    transform: scale(.9);
    background-color: #92828d00;
    border-radius: 100%;
  }
  50% {
    background-color: #5a2d689d;
  }
  100% {
    transform: scale(1.0);
    background-color: #83346a;
  }
}

@keyframes unfold {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
}


p {
  padding: 0;
  margin: 0;
  line-height: 1;
}


.back-button {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  
}

.flex-response-buttons:hover {
  box-shadow: 6px 6px 6px #d4d4d4,
  -5px -5px 5px white;

}

.link {/*for custom "link to" styling*/
  color: #484848;
  text-decoration: solid;
  text-decoration-color: #b4a200;
}
