:root {
  --dark: #272838;
  --dark-pale: #4a4b54;
  --light: #f6eedf;
  --light-pale: #f1e4c8;
  --white: #f5f6ff;
  --grey: #bcbdc5;
  --mid: #004e81;
  --highlight: #EFA00B;
  --delete: #fe2727;
  --delete-hover: #b10000;
  --prominent: #009133;
  --prominent-bright: #82ae2a;
}

body {
  background-color: var(--light);
  color: var(--dark);
  text-align: center;
  font-size: 1.2em;
  font-family:"Lato";
}

.main {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-heading{
  color:var(--dark);
  font: bold;
  font-size: 1.5rem;
  padding: 10px 10px;
}

button {
  background-color: var(--dark);
  border: none;
  color: var(--white);
  border-radius: 8px;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  margin: 8px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  
}

button:disabled {
  background-color: var(--dark-pale);
  color: var(--white);
}
button:disabled:hover {
  background-color: var(--dark-pale);
  color: var(--white);
}
.start-quiz {
  background-color: var(--prominent);
  color: var(--white);
}

.start-quiz:hover {
  background-color: var(--prominent-bright);
}

button:hover {
  background-color: var(--mid);
  color: var(--light);
}

.back-button {
  display: flex;
  justify-content: flex-end;
  align-content:end;
  font-size: 1.3em;
}

.add-button {
  padding: 5px 10px;
  font-size: 1em;
}

.deletion-pop-up{
    position: fixed;
    background-color: var(--light);
    outline-style: solid;
    outline-color: var(--mid);
    border-radius: 8px;
    left: 35%;
    top: 25%;
    width: 30%;

    @media (width < 680px){
    left: 30%;
    top: 25%;
    width: 50%;
    }
}

.delete-button {
  background-color: var(--highlight);
  font-size: 1em;
  padding: 5px 5px 5px 5px;
  margin: 5px;
}

.final-delete-button {
  font-size: 1.3em;
  margin: 8px;
  background-color: var(--delete);
}

.final-delete-button-small {
  font-size: 0.6em;
  padding: 10px 15px;
  margin: 8px;
  background-color: var(--delete);
}

.final-delete-button:hover {
  background-color: var(--delete-hover);
}
.delete-button:hover {
  background-color: var(--delete);
}

.final-delete-button-small:hover {
  background-color: var(--delete-hover);
}
.topnav {
  display: flex;
  justify-content:space-between;
  background-color: var(--dark);
  overflow: hidden;
  align-items: center;
  @media (width < 720px){
    max-height: 20%;
  }
}

.title {
  display: flex;
  align-self: center;
  font-weight: 400;
  font-size: 1.5em;
  font-family: "Lato";
  color: var(--highlight);
  margin: 10px;
}
.topnav a:hover {
  background-color: var(--dark-pale);
  color: var(--highlight);
}

.topnav a.active {
  background-color: var(--mid);
  color: #92828D;
}

.outside-link {
  font: bold;
  font-size: 1.3em;
  text-decoration: underline;
  text-decoration-color: var(--dark);
  padding: 10px 10px;
}

.outside-link:hover {
  color: var(--highlight);
}

.outside-link:visited {
  color: var(--dark);
}

.resources {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 100;
}


.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 60%;
}

.link {
  color:var(--white);
  font:200;
  font-size: 1.3em;
  text-decoration: underline;
  text-decoration-color: var(--dark);
  background-color: var(--dark);
  padding: 8px 8px;

  @media (width < 720px){
    font-size: 1em;
    padding: 2px 2px;
  }
}

.link:hover {
	color: var(--highlight);
}

.link:visited {
	color: var(--light);
}

.button-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

img {
  display: flex;
  align-self: center;
}

.quiz {
  display: flex;
	flex-direction: column;
  max-width: 960px;
	width: 100%;
	margin: 10px 0 100px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
	margin: 10px 0 100px;
  justify-content: center;
}
.quiz-control {
  display: flex;
  flex-direction: row;
	margin: 10px 0 100px;
  justify-content: center;
}

.grade-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.word {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mnemonic-image {
  display: flex;
  max-width: 70%;
  max-height: 40%;
  justify-content: center;
}

.wrapper {
  width: min(900px, 100% - 3rem);
  margin-inline: auto;
}

.image-cell {
  max-width: 100px;
  white-space: nowrap;
  overflow:hidden;
}

.soundfile-cell {
  max-width: 100px;
  white-space: nowrap;
  overflow:hidden;
}

table {
  max-width: 250px;
  @media (width < 720px){
    font-size: 0.5em;
    max-width: 70px;
  }
}

td, th {
  min-width: 50px;
  max-width: 200px;
}

tr:nth-child(even) {
  background-color: var(--light-pale);
}

form {
  display: grid;
  gap: 0.5rem;
  font-family: "Lato";

  @media (width < 720px){

  }
}

label {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 1em;
}

text {
  font-size: 1rem;
  padding: 1em;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  color: rgb(34, 34, 34);
  text-align: center;
  padding: 10px;
}
